<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1>Subir imagen</h1>
		</div>
		<div class="panel-body">
			<form action="">
				<div>
					<label for="nombre">Nombre: </label>
					<input type="text" name="nombre" id="nombre">
					<label for="apellido">Apellido: </label>
					<input type="text" name="apellido" id="apellido">
				</div>
				<div>
					<button type="submit" class="btn btn-success" >Enviar</button>
				</div>
			</form>
		</div>
	</div>
</div>